<!DOCTYPE html>
<html>
	<head>
		<title>Ashirbani Saha, PhD</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>	        	
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/research">Research Activities</a></li>
			<li><a href="/media">Students</a></li>
			<li><a href="/media">Media Coverage</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hello, I'm Ashirbani Saha.</h1>
				<p> I am an Assistant Professor in the Department of Oncology at McMaster University. I am an Associate Member of the School of Biomedical Engineering, Associate Member of the Department of Computing and Software, and Faculty Member of the eHealth Program at McMaster University.
				I am an Affiliate Scientist at CREATE, Hamilton Health Sciences and a Scientist at the Escarpment Cancer Research Institute, Hamilton Health Sciences and McMaster University.
				I am the inaugural BRIGHT RUN Breast Cancer Learning Health System Chair at McMaster University</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ashirbani@09mail.com">email</a></li>
        		<li><a href="https://github.com/asrepo2019">github.com/asrepo2019</a></li>
			</ul>
		</footer>
	</body>
</html>
