<!DOCTYPE html>
<html>
	<head>
		<title>Ashirbani Saha, PhD</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>	        	
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/research">Research Activities</a></li>
			<li><a href="/media">Media Coverage</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hello, I'm Ashirbani Saha.</h1>
				<p> I am a data enthusiast. Presently, I work as a Scientist at St. Michael's Hospital, Toronto.</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ashirbani@09mail.com">email</a></li>
        		<li><a href="https://github.com/asrepo2019">github.com/asrepo2019</a></li>
			</ul>
		</footer>
	</body>
</html>
